<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1008236187877-2ueer2f88sqd3rqd19elkqeg1pms4qf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008236187877-2ueer2f88sqd3rqd19elkqeg1pms4qf8</string>
	<key>API_KEY</key>
	<string>AIzaSyDh1tfaAyo0HKnoewVcM8_lGObxpRZWiZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1008236187877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicholasnaude.Bestie2</string>
	<key>PROJECT_ID</key>
	<string>project-2497420830669334466</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2497420830669334466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008236187877:ios:5c9ecdeb5af42bc0</string>
	<key>DATABASE_URL</key>
	<string>https://bestieapp.firebaseio.com</string>
</dict>
</plist>